body {
    padding-top: 50px;
    padding-bottom: 20px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@font-face {
    font-family: HelveticaNeueThin;
    src: url(/fonts/HelveticaNeue-Thin.otf);
}
@font-face {
    font-family: HelveticaNeueLight;
    src: url(/fonts/HelveticaNeueLight.ttf);
}
@font-face {
    font-family: HelveticaNeueBold;
    src: url(/fonts/HelveticaNeueBold.ttf);
}
@font-face {
    font-family: HelveticaNeueItalic;
    src: url(/fonts/HelveticaNeueItalic.ttf);
}
@font-face {
    font-family: HelveticaNeueMedium;
    src: url(/fonts/HelveticaNeueMedium.ttf);
}

 h1 {
     text-shadow: 1px 0px #ff0000;
 }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
:root {
    --purple: #6E4C85;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.txt-left{
    text-align: left !important;
}
#loginForm input.form-control, .input-edited .form-control {
    border-radius: 5px !important;
    border: 1px solid #E0E0E0 !important;
    box-shadow: unset !important;
    height: 38px !important;
    width: 100% !important;
    max-width: unset !important;
}
.input-edited .form-control {
    width: 50% !important;
}
    .linear-gradient {
        background: linear-gradient(#8556A4, #2D2B52) !important;
    }
.linear-gradient .title{
    color: white !important;
}
* {
    text-shadow: unset !important;
    box-shadow: unset !important;
    letter-spacing: 0 !important;
}
#loginForm .control-label {
    color: white !important
}
.width-100{
    width: 100% !important;
}
.signin-btn {
    max-width: unset !important;
    height: 38px !important;
    background: #B6A3C2 !important;
    border-radius: 20px !important;
    border: 0 !important;
    color: #403564 !important;
    border: 1px solid #B6A3C2 !important;
}
.email-section {
    margin-bottom: 31px !important;
}
    .email-section label, .pwd-section label{
        padding-top: 0 !important;
        padding-bottom: 3px !important;
    }
.pwd-section {
    margin-bottom: 44px !important;
}
.flex-center-col {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}
.login-page .column-2 .title, .login-page .column-2 #loginForm {
    width: 80% !important;
}

.login-page .column-2 {
    padding: 5% 5% 10% 5% !important;
}
body{
    padding: 0 !important;
}
.row{
    display: flex;
}
.login-page .column-1 img {
    max-height: 550px !important;
    width: 100% !important;
}
.login-page {
    width: 100vw !important;
    position: relative !important;
    left: calc(-50vw + 50%) !important;
    height: 100vh !important;
}
.logo img{
    max-width: 100px !important;
}
.full-width {
    background: #F4F7FC 0% 0% no-repeat padding-box !important;
}
.announcement-bar {
    background: transparent linear-gradient(180deg, #6E4C85 0%, #2D2B52 100%) 0% 0% no-repeat padding-box !important;
    width: 100vw !important;
    position: relative !important;
    height: 38px !important;
    left: calc(-50vw + 50%) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .announcement-bar p {
        color: white !important;
        margin-bottom: 0 !important;
    }
    .announcement-bar .glyphicon {
        color: white !important;
    }
.announcement-bar-help {
    width: 100vw !important;
    position: relative !important;
    height: 38px !important;
    left: calc(-50vw + 50%) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.txt-right{
    text-align: right !important;
}
.collapse, .collapse .col-sm-6 {
    padding: 0 !important;
}
.ico-times:before {
    content: "\2716";
}
.ico-times {
    font-style: normal;
    color: white !important;
}
.info-sign {
    width: 20px;
    height: 20px;
    background: transparent url(img/ShowQuoteIcon.png) 0% 0% no-repeat padding-box;
    background: url(/images/ShowQuoteIcon.svg);
    background-repeat: no-repeat;
    float: right;
    background-size: contain;
}
.full-width {
    width: 100vw !important;
    position: relative !important;
    left: calc(-50vw + 50%) !important;
}
a {
    color: #403564 !important;
    text-decoration: underline !important;
}
    a:hover {
        color: #B6A3C2 !important;
    }
    body{
        overflow-x: hidden !important;
    }
input {
    color: #403564 !important;
}
select#Status, select#Importance {
    width: 50% !important;
    max-width: unset !important;
    border-radius: 5px !important;
    border: 1px solid #E0E0E0 !important;
    box-shadow: unset !important;
    height: 38px !important;
}
.control-label{
    font-size: 14px !important;
    font-weight: bold !important;
}
.max-50{
    max-width: 50% !important;
}
.signin-btn:hover {
    background-color: white !important;
    border: 1px solid #403564 !important;
}
.ico-times:hover, .info-sign:hover {
    cursor: pointer !important;
}
.profile {
    border-radius: 50% !important;
    width: 42px;
    height: 42px !important;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0 !important;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }


.flex-center{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.dropdown-content a, .profile-logout {
    padding: 0 !important;
    text-decoration: unset !important;
}
.profile-email a:hover, .profile-logout:hover {
    background-color: transparent !important;
}
.profile-email a {
    color: var(--purple) !important;
}
.profile-logout, .profile-logout:hover{
    color: #212529 !important;
}
.dropdown-content {
    padding: 10px !important;
    height: 126px !important;
}
#logoutForm .dropdown img:hover{
    cursor: pointer !important;
}
.flex-end {
    display: flex !important;
    align-items: center !important;
    justify-content: end !important;
}
.create-btn{
    padding-right: 20px !important;
}
.create-btn img{
    width: 20px !important;
    height: 20px !important;
}
.navbar-collapse {
    padding: 10px 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.navbar-right{
    margin-right: 0 !important;
}
.todo-section .todo-row img{
    height: 15px !important;
    width: 15px;
    margin-right: 10px;
}
.todo-section {
    padding: 32px 34px !important;
}
.todo-row {
    display: flex !important;
    align-items: center !important;
    padding: 14px;
    box-shadow: 0px 3px 6px #00000029 !important;
    border-radius: 6px;
    margin-bottom: 10px !important;
}
    .todo-row h4 {
        margin: 0 !important;
        font-weight: bold !important;
        color: #212529 !important;
    }
.tsk-section {
    box-shadow: 0px 3px 6px #00000029 !important;
    border-radius: 6px;
    padding: 15px !important;
    margin-bottom: 20px;
}
    .tsk-section th {
        color: #6C757D !important;
    }
.pad-3 {
    padding: 11px 0 !important;
    display: flex;
    align-items: center;
}
.gray {
    color: #6C757D !important;
    min-width: 150px;
    font-family: 'HelveticaNeueThin' !important;
    font-size: 12px !important;
}
.light {
    font-family: 'HelveticaNeueLight' !important;
    font-size: 14px !important;
}
.task-title{
    font-size: 16px !important;
}
.Low {
    background-color: #39AC95 !important;
    padding: 7px 10px !important;
    border-radius: 4px !important;
    color: white !important;
    font-size: 13px !important;
}
.Medium {
    background-color: #FE913E !important;
    padding: 7px 10px !important;
    border-radius: 4px !important;
    color: white !important;
    font-size: 13px !important;
}
.High {
    background-color: #DC3545 !important;
    padding: 7px 10px !important;
    border-radius: 4px !important;
    color: white !important;
    font-size: 13px !important;
}
.pad-0{
    padding: 0 !important;
}
.task .glyphicon{
    width: 20px !important;
    height: 20px !important;
    color: var(--purple) !important;
}

#search_button {
    background-image: url(/images/Search.svg);
    background-repeat: no-repeat;
    width: 20px !important;
    background-size: contain;
    height: 20px;
    border: 0 !important;
    background-color: transparent !important;
    position: absolute;
    right: 30px;
    bottom: 5px;
}
input#searchtxt {
    margin-right: 22px !important;
    padding: 15px !important;
    border: 2px solid #8556A4 !important;
    border-radius: 13px !important;
    height: 34px;
    width: 504px;
}
.search-section {
    position: relative !important;
}
input#searchtxt::placeholder {
    color: #212529 !important;
    font-family: 'HelveticaNeueThin' !important;
}
.search-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px !important;
}
.login-page .title {
    font-family: 'HelveticaNeueThin' !important;
    font-size: 47px !important;
    padding-bottom: 30px !important;
}
.login-page label {
    font-family: 'HelveticaNeueLight' !important;
}
.signin-btn {
    font-family: 'HelveticaNeueBold' !important;

}
.announcement-bar p {
    font-family: 'HelveticaNeueItalic' !important;
}
.todo-row h4, .task-title, .control-label {
    font-family: 'HelveticaNeueMedium' !important;
    font-size: 16px !important;
}
.profile-email a {
    font-size: 18px !important;
    font-family: 'HelveticaNeueMedium' !important;
}
.profile-logout {
    font-size: 16px !important;
    font-family: 'HelveticaNeueLight' !important;
}
.flex-column {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
}

.highlight {
    background: yellow;
}
.pad-3 {
    padding: 3px 0 !important;
    display: flex;
    align-items: center;
}
.login-page .column-1 {
    background-image: url('/images/login-img.svg');
    background-repeat: no-repeat;
    background-size: 94% !important;
    background-position: 50% 100%;
}